* {
  margin: 0px;
  padding: 0px;
}

// Variables
@import "white/../_variables.scss";
@import "light/../_variables.scss";
@import "red/../_variables.scss";
@import "dark/../_variables.scss";
@import "grey/../_variables.scss";
@import "black/../_variables.scss";
@import "blue/../_variables.scss";
@import "green/../_variables.scss";
@import "yellow/../_variables.scss";
@import "mainColor/../_variables.scss";

@import "borderRadius/../_variables.scss";

@import "btnHover/../_variables.scss";
@import "scrollBar/../_variables.scss";

body {
  background: $light;
  font-family: "Montserrat";
  font-size: 14px;
  color: $dark;
  width: 100%;
  height: 100vh;
  @include scrollBar;
}

// ============================ PAGE NOT FOUND STYLE ================================
.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: $white;

  .content {
    background: $white;
    border-radius: $borderRadius;
    padding: 15px;
    text-align: center;

    svg {
      width: 200px;
      margin-bottom: 15px;
    }

    p {
      color: $dark;
      margin-bottom: 35px;
      font-size: 1.3em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cta {
      cursor: pointer;
      background: $red;
      color: $white;
      display: inline-flex;
      height: 42px;
      border-radius: 300px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      text-decoration: none;
      user-select: none;

      @include btnHover($red);
    }
  }
}
// ============================ End PAGE NOT FOUND STYLE ============================
